{% extends 'base.twig' %}

{% block title %}{{  'Photography'|trans }}{% endblock %}

{% block content %}
    <h1>Photography</h1>
    {#{% else %}#}
    {#<div class="alert alert-danger" role="alert">#}
    {#{{ 'Albums not found'|trans }}.#}
    {#</div>#}
    {#{% endif %}#}
{% endblock %}